@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;700&display=swap");
@keyframes rotateIn {
    from {
        transform: translateX(-200px) rotate(-360deg);
    }
    to {
        transform: translateX(0) rotate(0deg);
    }
}

@keyframes scaleUp {
    0% {
        transform: translate(-50%, calc(-100% - 15px)) scaleY(0);
    }
    80% {
        transform: translate(-50%, calc(-100% - 15px)) scaleY(1.1);
    }
    100% {
        transform: translate(-50%, calc(-100% - 15px)) scaleY(1);
    }
}

* {
    box-sizing: border-box;
}

.sr-only {
    visibility: hidden;
}

.hidden {
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
    overflow: hidden;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Hind Siliguri", sans-serif;
    position: relative;
    background-color: #fbfcfc;
}

.challenge-title {
    text-align: center;
    padding: 0;
    margin: 1rem 0 0;
    color: #2f363d;
    font-size: 2rem;
    font-weight: bold;
}

.challenge-subtitle {
    text-align: center;
    margin: 0;
    font-size: 1.125rem;
    font-weight: 400;
    color: #b5bbc3;
}

.challenge-part-of {
    text-align: center;
    margin: 1rem 0 0;
    font-size: 0.875rem;
    color: #b5bbc3;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.challenge-part-of a,
.challenge-part-of a:visited {
    color: #b5bbc3;
    text-decoration-style: wavy;
}

.challenge-part-of a:hover,
.challenge-part-of a:visited:hover,
.challenge-part-of a:active,
.challenge-part-of a:visited:active {
    color: #d1d5da;
}

.btn {
    display: flex;
    align-items: center;
    background-color: #4ea8de;
    border: 0;
    color: white;
    padding: 0.875rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #4ea8de;
    transition: background-color 0.1s ease-in;
    cursor: pointer;
}

.btn:hover {
    background-color: #63b3e2;
}

.btn:active {
    background-color: #399dda;
}

.btn:focus {
    outline: 1px dotted #1f74a7;
}

.btn.btn-circle {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.875rem;
    height: 2.875rem;
}

.container {
    margin: 2rem;
    padding: 1rem;
    height: 300px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container {
    position: relative;
}

.menu {
    border: 1px solid #d1d5da;
    position: absolute;
    background-color: white;
    width: 200px;
    border-radius: 4px;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 15px)) scaleY(0);
}

.menu.open {
    animation: scaleUp 0.2s ease 0.3s forwards;
}

.menu::before,
.menu::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu::before {
    bottom: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 7.5px 0 7.5px;
    border-color: #d1d5da transparent transparent transparent;
}

.menu::after {
    bottom: -9px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 7.5px 0 7.5px;
    border-color: white transparent transparent transparent;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu ul li a,
.menu ul li a:visited {
    padding: 0.625rem;
    color: #2f363d;
    display: block;
    text-decoration: none;
}

.menu ul li a:hover,
.menu ul li a:visited:hover,
.menu ul li a:active,
.menu ul li a:visited:active {
    text-decoration: underline;
}

.btn-open {
    overflow: hidden;
    animation: rotateIn 0.8s linear forwards;
}

.btn-open.open .hamburger span {
    width: 0;
}

.btn-open.open .hamburger::before {
    transform: translateX(-200%);
}

.btn-open.open .hamburger::after {
    transform: translateX(200%);
}

.btn-open.open .times::before {
    transform: translateX(0);
}

.btn-open.open .times::after {
    transform: rotate(90deg) translateX(0);
}

.hamburger {
    position: absolute;
    z-index: 1;
    width: 1.375rem;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger span {
    display: block;
    width: 1.375rem;
    transition: width 0.1s ease 0.2s;
    height: 2px;
    background-color: white;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: white;
}

.hamburger::before {
    transition: transform 0.1s ease;
    top: -8px;
}

.hamburger::after {
    transition: transform 0.1s ease 0.1s;
    bottom: -8px;
}

.times {
    position: absolute;
    z-index: 3;
    width: 1.375rem;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.times::before,
.times::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: white;
}

.times::before {
    transition: transform 0.1s ease 0.3s;
    transform: translateX(-200%);
}

.times::after {
    transition: transform 0.1s ease 0.4s;
    transform: rotate(90deg) translateX(-200%);
}