html {
    background-color: #E4E9FD !important;
    /*  background-color: #111927; */
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%) !important;
    min-height: 1000px;
    font-family: 'helvetica neue';
}

.players[open] .adjust {
    animation-name: menuAnim;
}

h1 {
    color: #fff;
    padding: 10px;
}

.box1 {
    max-width: 400px;
    margin: 50px auto;
    margin-bottom: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    position: relative;
}

.fields {
    max-width: 400px;
    margin: 30px auto;
    margin-bottom: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
    background-color: #A683E3;
    text-align: center;
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
    border-bottom: 0;
}

input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #A683E3;
}

input[type="checkbox"] {
    margin: 20px;
}

input[type="text"] {
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

li {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
}

form {
    text-align: center;
    margin-left: 20px;
}

.actions {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #A683E3;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
}

.players {
    border-radius: 50%;
    border-color: transparent;
    background-color: #A683E3;
    width: 90px;
    bottom: 45px;
}

.player {
    right: 10px;
    bottom: 110px;
    height: 550px;
    background-color: white;
    width: 400px;
    position: absolute;
    visibility: hidden;
}

input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
}

input[type="text"]:focus {
    outline: none;
    /*  box-shadow: inset 0 -3px 0 0 #A683E3; */
}

 ::placeholder {
    color: grey;
    opacity: 1;
}

footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.score {
    justify-content: center;
    text-align: center;
}

.totalscore {
    display: inline-block;
}

.donescore {
    display: inline-block;
}

.adjust {
    margin-top: 15px !important;
}

.closed {
    position: absolute;
    transform: translateX(3100%);
    cursor: pointer;
    transition: all ease-in-out 0.35s;
}

.scores {
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
}

.change {
    font-weight: bold;
    font-size: 20px;
    color: lightblue;
    font-family: 'Noto Sans', sans-serif;
}

.checked {
    font-style: italic;
}

.dark-mode {
    background-color: black;
    color: white;
}

.effect-1 {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

.effect-1~.focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #A683E3;
    transition: 0.4s;
}

.effect-1:focus~.focus-border {
    width: 100%;
    transition: 0.4s;
}

.music2 {
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    height: 80px;
}

.music1 {
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    height: 80px;
}

.imgmani {
    height: 70px;
    display: inline-block;
}

.playing {
    position: absolute;
    right: 40px;
    transform: translateY(200%) !important;
    cursor: pointer;
}

.songname {
    position: relative;
    bottom: 10px;
    margin-left: 5px;
    font-size: 15px;
    /*font-weight: bold;*/
}

.artistname {
    position: relative;
    bottom: 18px;
    margin-left: 5px;
    font-size: 15px;
    /*font-weight: bold;*/
}

.reverse {
    position: absolute;
    transform: translateY(200%);
    right: 100px;
    cursor: pointer;
}

details {
    margin: 40px;
}

summary {
    writing-mode: vertical-lr;
    text-align: center;
    padding: 12px 10px;
    width: 23px;
    height: 17px;
    background-color: var(--primColor);
    border: 2px solid var(--secoColor);
    border-radius: var(--cornerRad);
    color: var(--secoColor);
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: transform 200ms ease-in-out 0s;
}

summary::before,
summary::after {
    position: static;
    top: 0;
    left: 0;
}

summary::before {
    content: "";
}

summary::after {
    content: "III";
    letter-spacing: -1px;
}

summary:hover {
    transform: scale(1.1);
}

summary::marker {
    font-size: 0;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] .menu {
    animation-name: menuAnim;
}

details[open] summary::before {
    content: "X";
}

details[open] summary::after {
    content: "";
}

.menu {
    height: 0;
    width: fit-content;
    border-radius: var(--cornerRad);
    background-color: var(--primColor);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    animation: closeMenu 300ms ease-in-out forwards;
}

.menu a {
    padding: 12px 24px;
    margin: 0 16px;
    color: var(--secoColor);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    transition: filter 200ms linear 0s;
}

.menu a:nth-of-type(1) {
    padding-top: 24px;
}

.menu a:nth-last-of-type(1) {
    border-bottom: none;
}

.menu a:hover {
    filter: brightness(200%);
}

details::before {
    content: "← Click This Button";
    color: var(--secoColor);
    position: absolute;
    margin-left: 80px;
    padding: 10px 10px;
    opacity: 0.4;
}

details[open]::before {
    animation: fadeMe 300ms linear forwards;
}

@keyframes menuAnim {
    0% {
        height: 0;
    }
    100% {
        height: 312px;
    }
}

@keyframes fadeMe {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 0;
    }
}

:root {
    --primColor: #dcdcdc;
    --secoColor: #555555;
    --cornerRad: 4px;
}

#round-btn {
    width: 50px;
}